/**/target/
/**/.settings/
/**/.project
/**/.classpath
/**/bin/
/**/node/
/**/node_modules/
/**/build/
/**/npm-debug.log
/**/tabd*.log*
/**/tabd*.db

target/
.settings/
.project
.classpath
bin/
node/
node_modules/
build/
npm-debug.log
tabd*.log*
tabd*.db